.wicketface {
	color:#FEFEFE;
    font-size:12px;
}

.wicketface-connect-box {
    float:left;
}

.wicketface-connect-message {
    float:right;
    margin-top:-32px;
    width:110px;
    text-align: right;
}

.wicketface small {
    font-size: 0.8em;
}   

.wicketface a,.wicketface a:visited {
	color:#3B5998;
	cursor:pointer;
	outline-style:none;
	text-decoration:none;
}

.wicketface a:hover {
	color:#3B5998;
	cursor:pointer;
	outline-style:none;
	text-decoration:underline;
}

.wicketface-connect-button {
    margin-left: 10px;
    margin-top: 26px;
}